.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-navigate {
  background-color: grey;
  z-index: 1;
}

.App-graph{
  padding: 20px;
  background-color: rgb(31, 88, 114);
  z-index: 1;
}

.transparent{
  position: relative;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#App-node {
  position: absolute;
  color: black;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
}
.grid-item {
}

.App-body {
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
  grid-template-columns: 1fr 5fr;
}

.App-edge {
  position: absolute;
  z-index: -1;
}